body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, rgb(236, 220, 171) 100%, rgb(223, 197, 120) 35%);
}

/* Navbar */
.nav-link {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }
}

/* Hero section */

.hero {
    background: url('../assets/herobg1.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px;
}

.hero .btn-primary {
    margin-top: 30px;
}

.about,
.portfolio,
.skills,
.testimonials {
    padding: 60px 0;
}

.portfolio .card {
    margin-bottom: 30px;
    background-color: rgb(233, 217, 167);
}

.portfolio img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: fixed;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
}

footer .nav-link {
    color: #6c757d;
}

footer .nav-link:hover {
    color: #495057;
}

@media (max-width: 768px) {

    footer .d-flex {
        flex-direction: column;
        align-items: center;
    }

    footer .d-flex .nav {
        justify-content: center;
    }
}